body {
	background-color: #000;
	color: #808386;
	margin: 0 auto auto auto
}
header {
	text-align: center;
	font-size: 5em;
	color: #933500;
	font-family: "Courier New", Courier, monospace;
	font-stretch: narrower;
	margin: auto;
	width: 60%;
	letter-spacing: .0001em;
}
#wrap {
	margin: 0 5% 0 5%;
}
nav div{
	display:block;
	font-size:1em;
	text-align:center;
}
.menu-items {
	display: block;
	width:auto;
}


a, a:visited, a:active {
	color: #E35200;
	text-decoration: none
}
td {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: justify;
	background-color: #000;
	padding: 25px
}
a:hover {
	color: #F17D3C
}
th {
	font-family: Verdana, Geneva, sans-serif;
	color: #FFF;
	padding: 25px
}
table {
	background-color: #101316;
	margin: 0 auto 0 auto;
	border-spacing: 2px;
	width: 950px
}
.index {
	width: 650px
}
.center {
	text-align: center
}
.small {
	font-size: 1em
}
.evident {
	font-weight: bolder;
	color: #6666FF
}
.evid-green {
	color: #00FF66;
}
